In [1]:
import pandas as pd
import numpy as np

In [2]:
d = pd.read_excel('GDP data raw.xlsx', skiprows = 15)
df = d  

# data = pd.Series(df).to_frame()
# data

df.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,RPI,RPIX,RPI - Motoring Expenditure - Petrol (& oil),RPI - Fuel (& light),RPI - Housing Costs,CPI,CPIH,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,NaN,Units,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Index (100 = 2005),p/litre,Annual change (%),Annual inflation rate - electricity
1,NaN,NaN,Source,ONS,ONS,ONS,ONS,ONS,ONS,ONS,DECC,DECC,DECC,NaN
2,NaN,NaN,Code,CHAW,CHMK,DOCU,CHBG,CHBF,D7BT,L55O,NaN,NaN,NaN,NaN
3,NaN,NaN,Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1990-01-01 00:00:00,0.077,0.061,0.09328,0.06142,0.17,0.057,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,1990-02-01 00:00:00,0.075,0.062,0.070866,0.054702,0.155,0.059,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,1990-03-01 00:00:00,0.081,0.063,0.059454,0.055609,0.182,0.06,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,1990-04-01 00:00:00,0.094,0.079,0.071757,0.059772,0.234,0.064,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,1990-05-01 00:00:00,0.097,0.081,0.045863,0.074248,0.238,0.068,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,1990-06-01 00:00:00,0.098,0.082,0.037668,0.078067,0.237,0.069,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,1990-07-01 00:00:00,0.098,0.083,0.043636,0.076568,0.237,0.068,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,1990-08-01 00:00:00,0.106,0.091,0.155285,0.091076,0.238,0.077,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,1990-09-01 00:00:00,0.109,0.095,0.242565,0.09633,0.237,0.081,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,1990-10-01 00:00:00,0.109,0.095,0.259464,0.11426,0.232,0.081,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,1990-11-01 00:00:00,0.097,0.092,0.193698,0.101185,0.179,0.078,NaN,NaN,NaN,NaN,NaN

In [3]:
# Drop the first 2 unamed columns
df.count()

Unnamed: 0                                       0
Unnamed: 1                                     288
Unnamed: 2                                     592
RPI                                            591
RPIX                                           591
RPI - Motoring Expenditure - Petrol (& oil)    591
RPI - Fuel (& light)                           591
RPI - Housing Costs                            591
CPI                                            591
CPIH                                           399
Unnamed: 10                                    428
Unnamed: 11                                    428
Unnamed: 12                                    416
Unnamed: 13                                    361
dtype: int64

Since we only care about the columns starting from RPI to CPIH, we will drop the remains columns including:

Unnamed: 0, Unnamed: 1, Unnamed: 2, Unnamed: 10, Unnamed: 11, Unnamed: 12, Unnamed: 13.

In [4]:

# Rename columns Unnamed:0, Unnamed: 1 ... Unnamed: 13 to a, b, ... , f respectively and drop them.
# Remame Unnamed: 2 to Date

df.rename({"Unnamed: 0": "a", 
           "Unnamed: 1": "b",
           "Unnamed: 2": "Date",
           "Unnamed: 10":"c",
           "Unnamed: 11":"d",
           "Unnamed: 12":"e",
           "Unnamed: 13": "f",}, 
           axis ="columns", inplace=True)

df.head(16)

,a,b,Date,RPI,RPIX,RPI - Motoring Expenditure - Petrol (& oil),RPI - Fuel (& light),RPI - Housing Costs,CPI,CPIH,c,d,e,f
0,NaN,NaN,Units,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Index (100 = 2005),p/litre,Annual change (%),Annual inflation rate - electricity
1,NaN,NaN,Source,ONS,ONS,ONS,ONS,ONS,ONS,ONS,DECC,DECC,DECC,NaN
2,NaN,NaN,Code,CHAW,CHMK,DOCU,CHBG,CHBF,D7BT,L55O,NaN,NaN,NaN,NaN
3,NaN,NaN,Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,1990-01-01 00:00:00,0.077,0.061,0.09328,0.06142,0.17,0.057,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,1990-02-01 00:00:00,0.075,0.062,0.070866,0.054702,0.155,0.059,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,1990-03-01 00:00:00,0.081,0.063,0.059454,0.055609,0.182,0.06,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,1990-04-01 00:00:00,0.094,0.079,0.071757,0.059772,0.234,0.064,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,1990-05-01 00:00:00,0.097,0.081,0.045863,0.074248,0.238,0.068,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,1990-06-01 00:00:00,0.098,0.082,0.037668,0.078067,0.237,0.069,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,1990-07-01 00:00:00,0.098,0.083,0.043636,0.076568,0.237,0.068,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,1990-08-01 00:00:00,0.106,0.091,0.155285,0.091076,0.238,0.077,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,1990-09-01 00:00:00,0.109,0.095,0.242565,0.09633,0.237,0.081,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,1990-10-01 00:00:00,0.109,0.095,0.259464,0.11426,0.232,0.081,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,1990-11-01 00:00:00,0.097,0.092,0.193698,0.101185,0.179,0.078,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,1990-12-01 00:00:00,0.093,0.09,0.138318,0.095455,0.171,0.076,NaN,NaN,NaN,NaN,NaN

In [5]:
# Drop columns a and b 
df.drop(["a", "b", "c", "d", "e", "f"], axis=1, inplace=True)

df

,Date,RPI,RPIX,RPI - Motoring Expenditure - Petrol (& oil),RPI - Fuel (& light),RPI - Housing Costs,CPI,CPIH
0,Units,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate,Annual Inflation Rate
1,Source,ONS,ONS,ONS,ONS,ONS,ONS,ONS
2,Code,CHAW,CHMK,DOCU,CHBG,CHBF,D7BT,L55O
3,Year,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1990-01-01 00:00:00,0.077,0.061,0.09328,0.06142,0.17,0.057,NaN
...,...,...,...,...,...,...,...,...
587,2038-08-01 00:00:00,0.028924,0.029171,0.019078,0.022398,0.029486,0.021257,0.018668
588,2038-09-01 00:00:00,0.028924,0.029171,0.01908,0.022398,0.029486,0.021257,0.018668
589,2038-10-01 00:00:00,0.028924,0.029171,0.019081,0.022398,0.029486,0.021257,0.018668
590,2038-11-01 00:00:00,0.028924,0.029171,0.019082,0.022398,0.029486,0.021257,0.018668
591,2038-12-01 00:00:00,0.028924,0.029171,0.019094,0.022398,0.029486,0.021257,0.018668

In [6]:
# drop the first 4 rows which contains irrelevant infos. 
df1 = df.drop((df.index[[0,1,2,3]]),axis=0)
df1.head(11)

,Date,RPI,RPIX,RPI - Motoring Expenditure - Petrol (& oil),RPI - Fuel (& light),RPI - Housing Costs,CPI,CPIH
4,1990-01-01 00:00:00,0.077,0.061,0.09328,0.06142,0.17,0.057,NaN
5,1990-02-01 00:00:00,0.075,0.062,0.070866,0.054702,0.155,0.059,NaN
6,1990-03-01 00:00:00,0.081,0.063,0.059454,0.055609,0.182,0.06,NaN
7,1990-04-01 00:00:00,0.094,0.079,0.071757,0.059772,0.234,0.064,NaN
8,1990-05-01 00:00:00,0.097,0.081,0.045863,0.074248,0.238,0.068,NaN
9,1990-06-01 00:00:00,0.098,0.082,0.037668,0.078067,0.237,0.069,NaN
10,1990-07-01 00:00:00,0.098,0.083,0.043636,0.076568,0.237,0.068,NaN
11,1990-08-01 00:00:00,0.106,0.091,0.155285,0.091076,0.238,0.077,NaN
12,1990-09-01 00:00:00,0.109,0.095,0.242565,0.09633,0.237,0.081,NaN
13,1990-10-01 00:00:00,0.109,0.095,0.259464,0.11426,0.232,0.081,NaN
14,1990-11-01 00:00:00,0.097,0.092,0.193698,0.101185,0.179,0.078,NaN

In [7]:
# Remove the time stamp in the 'Date' columns.

df1['Date'] = pd.to_datetime(df1['Date'], format='%Y-%m-%d', errors='ignore')
# df1['Date'] = df1['Date'].dt.date
df1.head(10)
# df1.dtypes

,Date,RPI,RPIX,RPI - Motoring Expenditure - Petrol (& oil),RPI - Fuel (& light),RPI - Housing Costs,CPI,CPIH
4,1990-01-01,0.077,0.061,0.09328,0.06142,0.17,0.057,NaN
5,1990-02-01,0.075,0.062,0.070866,0.054702,0.155,0.059,NaN
6,1990-03-01,0.081,0.063,0.059454,0.055609,0.182,0.06,NaN
7,1990-04-01,0.094,0.079,0.071757,0.059772,0.234,0.064,NaN
8,1990-05-01,0.097,0.081,0.045863,0.074248,0.238,0.068,NaN
9,1990-06-01,0.098,0.082,0.037668,0.078067,0.237,0.069,NaN
10,1990-07-01,0.098,0.083,0.043636,0.076568,0.237,0.068,NaN
11,1990-08-01,0.106,0.091,0.155285,0.091076,0.238,0.077,NaN
12,1990-09-01,0.109,0.095,0.242565,0.09633,0.237,0.081,NaN
13,1990-10-01,0.109,0.095,0.259464,0.11426,0.232,0.081,NaN

In [8]:
# Reset the index of the rows to starting from 0 for easy of processing and reassign the df1 dataframe to df2.

df2 = df1.reset_index(drop=True)
df2

,Date,RPI,RPIX,RPI - Motoring Expenditure - Petrol (& oil),RPI - Fuel (& light),RPI - Housing Costs,CPI,CPIH
0,1990-01-01,0.077,0.061,0.09328,0.06142,0.17,0.057,NaN
1,1990-02-01,0.075,0.062,0.070866,0.054702,0.155,0.059,NaN
2,1990-03-01,0.081,0.063,0.059454,0.055609,0.182,0.06,NaN
3,1990-04-01,0.094,0.079,0.071757,0.059772,0.234,0.064,NaN
4,1990-05-01,0.097,0.081,0.045863,0.074248,0.238,0.068,NaN
...,...,...,...,...,...,...,...,...
583,2038-08-01,0.028924,0.029171,0.019078,0.022398,0.029486,0.021257,0.018668
584,2038-09-01,0.028924,0.029171,0.01908,0.022398,0.029486,0.021257,0.018668
585,2038-10-01,0.028924,0.029171,0.019081,0.022398,0.029486,0.021257,0.018668
586,2038-11-01,0.028924,0.029171,0.019082,0.022398,0.029486,0.021257,0.018668
587,2038-12-01,0.028924,0.029171,0.019094,0.022398,0.029486,0.021257,0.018668

In [9]:
df2.dtypes

Date                                           datetime64[ns]
RPI                                                    object
RPIX                                                   object
RPI - Motoring Expenditure - Petrol (& oil)            object
RPI - Fuel (& light)                                   object
RPI - Housing Costs                                    object
CPI                                                    object
CPIH                                                   object
dtype: object

In [10]:
from datetime import datetime
from datetime import date

# Convert the date to datetime64
# df2['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d %H:%M:%S') 


# date1 = datetime.strptime('2017-04-01', '%Y-%m-%d')
# date2 = datetime.strptime('2018-10-01', '%Y-%m-%d')

# # Filter data between two dates
# df2_filtered = df2.loc[(df['Date'] >= datetime.strptime('2017-04-01', '%Y-%m-%d'))
#                      & (df['Date'] <= datetime.strptime('2018-10-01', '%Y-%m-%d'))]
# # Display
# df2_filtered

 
# df2.loc[datetime.date(year=2017,month=4,day=1):datetime.date(year=2018,month=10,day=1)]




# my_date1 = date(2017, 4, 1)
# my_date2 = date(2018, 10, 1)


# df2[(df2['Date']>=my_date1) & (df2['Date']<= my_date2)]  



#filtered by date to contain up to and including '2017-04-01' – ‘2018-10-01’ 
df3 = df2.query('20170401 <= Date <= 20181001')
df3

,Date,RPI,RPIX,RPI - Motoring Expenditure - Petrol (& oil),RPI - Fuel (& light),RPI - Housing Costs,CPI,CPIH
327,2017-04-01,0.035,0.038,0.117,0.033,0.02,0.027,0.025845
328,2017-05-01,0.037,0.039,0.072,0.05,0.022,0.029,0.026786
329,2017-06-01,0.035,0.038,0.045,0.046,0.02,0.026,0.026
330,2017-07-01,0.036,0.039,0.017,0.055,0.019,0.026,0.025768
331,2017-08-01,0.039,0.041,0.057,0.057,0.023,0.029,0.027668
332,2017-09-01,0.039,0.041,0.06,0.056,0.019,0.03,0.027586
333,2017-10-01,0.04,0.042,0.047,0.062,0.024,0.03,0.027559
334,2017-11-01,0.039,0.04,0.025,0.068,0.024,0.031,0.028487
335,2017-12-01,0.041,0.042,0.051,0.066,0.027,0.03,0.027397
336,2018-01-01,0.04,0.04,0.022,0.065,0.027,0.03,0.026523
337,2018-02-01,0.036,0.036,0.013,0.066,0.025,0.027,0.025
338,2018-03-01,0.033,0.034,-0.003,0.064,0.025,0.025,0.023369
339,2018-04-01,0.034,0.034,0.032,0.06,0.03,0.024,0.022287
340,2018-05-01,0.033,0.034,0.08,0.04,0.026,0.024,0.023188
341,2018-06-01,0.034,0.034,0.116,0.064,0.026,0.024,0.023188
342,2018-07-01,0.032,0.033,0.125,0.069,0.026,0.025,0.023188
343,2018-08-01,0.035,0.034,0.117,0.068,0.029,0.027,0.024038
344,2018-09-01,0.033,0.033,0.108,0.083,0.028,0.024,0.022052
345,2018-10-01,0.035602,0.035553,0.118578,0.06901,0.029034,0.025298,0.024145

# Working on Brand Awereness

In [11]:
# Upon close inspection of the data file, there are missing data up to and including row 7th. 
# Since we only concern ourselves with the April month, we can delete all the missing entries.

d2 = pd.read_excel('Brand Awareness.xlsx')
df_brand = d2 


df_brand.head(10)

,Month,Spontaneous Brand Awareness,Brand Consideration,Fibre awareness (prompted),Fibre Consideration,TV awareness (prompted),TV consideration
0,2016-10-01,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-11-01,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-12-01,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-01-01,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-02-01,NaN,NaN,NaN,NaN,NaN,NaN
5,2017-03-01,NaN,NaN,NaN,NaN,NaN,NaN
6,2017-04-01,39.0,23.0,45.0,20.0,38.0,14.0
7,2017-05-01,42.0,24.0,40.0,21.0,39.0,13.0
8,2017-06-01,45.0,24.0,34.0,17.0,35.0,13.0
9,2017-07-01,37.0,24.0,35.0,16.0,36.0,10.0

In [12]:
#Drop the first six rows.

df_brand2 = df_brand.drop(labels = range(0, 6), axis=0)

df_brand2

,Month,Spontaneous Brand Awareness,Brand Consideration,Fibre awareness (prompted),Fibre Consideration,TV awareness (prompted),TV consideration
6,2017-04-01,39.0,23.0,45.0,20.0,38.0,14.0
7,2017-05-01,42.0,24.0,40.0,21.0,39.0,13.0
8,2017-06-01,45.0,24.0,34.0,17.0,35.0,13.0
9,2017-07-01,37.0,24.0,35.0,16.0,36.0,10.0
10,2017-08-01,42.0,24.0,38.0,20.0,42.0,7.0
11,2017-09-01,39.0,24.0,41.0,19.0,43.0,7.0
12,2017-10-01,37.0,25.0,38.0,16.0,41.0,6.0
13,2017-11-01,38.0,24.0,38.0,19.0,35.0,11.0
14,2017-12-01,39.0,24.0,38.0,16.0,35.0,15.0
15,2018-01-01,39.0,23.0,42.0,21.0,38.0,11.0
16,2018-02-01,46.0,22.0,45.0,17.0,36.0,12.0
17,2018-03-01,44.0,23.0,43.0,16.0,39.0,14.0
18,2018-04-01,45.0,25.0,45.0,22.0,38.0,13.0
19,2018-05-01,37.0,19.0,40.0,21.0,39.0,13.0
20,2018-06-01,34.0,19.0,34.0,17.0,35.0,13.0
21,2018-07-01,41.0,20.0,35.0,16.0,36.0,10.0
22,2018-08-01,46.0,23.0,38.0,20.0,42.0,7.0
23,2018-09-01,45.0,20.0,41.0,19.0,43.0,7.0
24,2018-10-01,46.0,17.0,38.0,16.0,41.0,6.0
25,2018-11-01,45.0,19.0,39.0,20.0,41.0,8.0

In [13]:
# Checking types of object. 
df_brand2.dtypes

Month                          datetime64[ns]
Spontaneous Brand Awareness           float64
Brand Consideration                   float64
Fibre awareness (prompted)            float64
Fibre Consideration                   float64
TV awareness (prompted)               float64
TV consideration                      float64
dtype: object

In [14]:
#Filtered by date and rename.

df_brand3 = df_brand2.query('20170401 <= Month <= 20181001')

df_brand3

,Month,Spontaneous Brand Awareness,Brand Consideration,Fibre awareness (prompted),Fibre Consideration,TV awareness (prompted),TV consideration
6,2017-04-01,39.0,23.0,45.0,20.0,38.0,14.0
7,2017-05-01,42.0,24.0,40.0,21.0,39.0,13.0
8,2017-06-01,45.0,24.0,34.0,17.0,35.0,13.0
9,2017-07-01,37.0,24.0,35.0,16.0,36.0,10.0
10,2017-08-01,42.0,24.0,38.0,20.0,42.0,7.0
11,2017-09-01,39.0,24.0,41.0,19.0,43.0,7.0
12,2017-10-01,37.0,25.0,38.0,16.0,41.0,6.0
13,2017-11-01,38.0,24.0,38.0,19.0,35.0,11.0
14,2017-12-01,39.0,24.0,38.0,16.0,35.0,15.0
15,2018-01-01,39.0,23.0,42.0,21.0,38.0,11.0
16,2018-02-01,46.0,22.0,45.0,17.0,36.0,12.0
17,2018-03-01,44.0,23.0,43.0,16.0,39.0,14.0
18,2018-04-01,45.0,25.0,45.0,22.0,38.0,13.0
19,2018-05-01,37.0,19.0,40.0,21.0,39.0,13.0
20,2018-06-01,34.0,19.0,34.0,17.0,35.0,13.0
21,2018-07-01,41.0,20.0,35.0,16.0,36.0,10.0
22,2018-08-01,46.0,23.0,38.0,20.0,42.0,7.0
23,2018-09-01,45.0,20.0,41.0,19.0,43.0,7.0
24,2018-10-01,46.0,17.0,38.0,16.0,41.0,6.0

In [15]:
df_brand3.rename({"Month": "Date"}, axis ="columns", inplace=True)

df_brand4 = df_brand3

# Rename for ease of operations. 
df_brand4

C:\Users\ntc19\anaconda3\lib\site-packages\pandas\core\frame.py:5034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Date,Spontaneous Brand Awareness,Brand Consideration,Fibre awareness (prompted),Fibre Consideration,TV awareness (prompted),TV consideration
6,2017-04-01,39.0,23.0,45.0,20.0,38.0,14.0
7,2017-05-01,42.0,24.0,40.0,21.0,39.0,13.0
8,2017-06-01,45.0,24.0,34.0,17.0,35.0,13.0
9,2017-07-01,37.0,24.0,35.0,16.0,36.0,10.0
10,2017-08-01,42.0,24.0,38.0,20.0,42.0,7.0
11,2017-09-01,39.0,24.0,41.0,19.0,43.0,7.0
12,2017-10-01,37.0,25.0,38.0,16.0,41.0,6.0
13,2017-11-01,38.0,24.0,38.0,19.0,35.0,11.0
14,2017-12-01,39.0,24.0,38.0,16.0,35.0,15.0
15,2018-01-01,39.0,23.0,42.0,21.0,38.0,11.0
16,2018-02-01,46.0,22.0,45.0,17.0,36.0,12.0
17,2018-03-01,44.0,23.0,43.0,16.0,39.0,14.0
18,2018-04-01,45.0,25.0,45.0,22.0,38.0,13.0
19,2018-05-01,37.0,19.0,40.0,21.0,39.0,13.0
20,2018-06-01,34.0,19.0,34.0,17.0,35.0,13.0
21,2018-07-01,41.0,20.0,35.0,16.0,36.0,10.0
22,2018-08-01,46.0,23.0,38.0,20.0,42.0,7.0
23,2018-09-01,45.0,20.0,41.0,19.0,43.0,7.0
24,2018-10-01,46.0,17.0,38.0,16.0,41.0,6.0

# Merge df3 with df_brand4 to create Metric Combined

In [22]:
# Merging

df_merge = pd.merge(df3, df_brand4, how='outer', on='Date')
df_merge.head()

,Date,RPI,RPIX,RPI - Motoring Expenditure - Petrol (& oil),RPI - Fuel (& light),RPI - Housing Costs,CPI,CPIH,Spontaneous Brand Awareness,Brand Consideration,Fibre awareness (prompted),Fibre Consideration,TV awareness (prompted),TV consideration
0,2017-04-01,0.035,0.038,0.117,0.033,0.02,0.027,0.025845,39.0,23.0,45.0,20.0,38.0,14.0
1,2017-05-01,0.037,0.039,0.072,0.05,0.022,0.029,0.026786,42.0,24.0,40.0,21.0,39.0,13.0
2,2017-06-01,0.035,0.038,0.045,0.046,0.02,0.026,0.026,45.0,24.0,34.0,17.0,35.0,13.0
3,2017-07-01,0.036,0.039,0.017,0.055,0.019,0.026,0.025768,37.0,24.0,35.0,16.0,36.0,10.0
4,2017-08-01,0.039,0.041,0.057,0.057,0.023,0.029,0.027668,42.0,24.0,38.0,20.0,42.0,7.0

# Dealing with Impressions and Clicks

In [17]:
d3 = pd.read_excel('Impression & Clicks.xlsx')
df_clicks = d3 


df_clicks.head(15)

         Date  Impressions  Clicks
0  2018-02-05          730       0
1  2018-02-06          388       2
2  2018-02-07          964       2
3  2018-02-08         1138       0
4  2018-02-09          862       4
5  2018-02-10          456       4
6  2018-02-11          490       2
7  2018-03-12          364       2
8  2018-03-13          276       0
9  2018-03-14          804       2
10 2018-04-03          998       2
11 2018-04-04          298       2
12 2018-04-05            4      16
13 2018-04-06            2      14
14 2018-04-07            2      16

In [18]:
df_clicks.dtypes

Date           datetime64[ns]
Impressions             int64
Clicks                  int64
dtype: object

In [19]:
#1. Resampling the data based on weekly frequency. 

#2. Apply it on Date column with 'W' to indicate week. 

#3. and aggregate the Impressions and Clicks week by week.


weekly_data = df_clicks.resample('W', on = 'Date').sum().reset_index().sort_values(by = 'Date')

# weekly_data.head(20)

In [20]:
# Change Date column to Week Ending and reassign to a new object. 

weekly_data.rename({"Date": "Week Ending"}, axis ="columns", inplace=True)

Impression_and_Clicks_cleaned = weekly_data

#Show the first 20 rows.
Impression_and_Clicks_cleaned.head(20)

   Week Ending  Impressions  Clicks
0   2018-02-11         5028      14
1   2018-02-18            0       0
2   2018-02-25            0       0
3   2018-03-04            0       0
4   2018-03-11            0       0
5   2018-03-18         1444       4
6   2018-03-25            0       0
7   2018-04-01            0       0
8   2018-04-08         1960      66
9   2018-04-15         8484     218
10  2018-04-22           18      76
11  2018-04-29            0       0
12  2018-05-06         2192      88
13  2018-05-13         7892     302
14  2018-05-20        20026     464
15  2018-05-27            0       0
16  2018-06-03            0       0
17  2018-06-10            0       0
18  2018-06-17            0       0
19  2018-06-24            0       0

# Source: 
https://www.geeksforgeeks.org/python-pandas-dataframe-resample/

https://medium.com/@sharath.ravi/convert-daily-data-to-weekly-data-using-python-pandas-6c73abcfb5f7

https://stackoverflow.com/questions/42812216/pandas-merge-on-date-column-issue

https://medium.com/@juan.7655/cleansing-messy-excel-files-with-pandas-95a2ba3d8b2d

https://stackoverflow.com/questions/20490274/how-to-reset-index-in-a-pandas-dataframe

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.resample.html

https://stackoverflow.com/questions/45858155/removing-the-timestamp-from-a-datetime-in-pandas-dataframe

https://datascientyst.com/filter-by-date-pandas-dataframe/

https://stackoverflow.com/questions/22898824/filtering-pandas-dataframes-on-dates

https://towardsdatascience.com/seven-clean-steps-to-reshape-your-data-with-pandas-or-how-i-use-python-where-excel-fails-62061f86ef9c

In [ ]:
!pip install xlwings --upgrade --quiet

In [ ]:
import xlwings as xw

In [ ]:
# df_GDP = xw.load(index=False)
# df_GDP